@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --gy200: rgb(216 216 216);
    --gy300: rgb(197 198 206);
    --nv600: rgb(94 96 122);
    --nv950: rgb(0 0 26);
    --gold: rgb(2333 170 82);
    --red: rgb(241 93 81);
}

.nav-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--nv600);
}

.nav-menu {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
}

.hero-h {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--nv950);
}

.hero-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--nv600);
}

.hero-btn {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4.38px;
    font-weight: 700;
    color: var(--nv950);
}

.aside-h {
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--gold);

}

.aside-item-h {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--white);
}

.aside-item-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--gy300);
}

.footer-nr {
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--red);
}

.footer-h {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--nv950);
}

.footer-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--nv600);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

img {
    width: 100%;
}

main {
    position: relative;
    max-width: 1112px;
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 2.5rem;
    transition: all 200ms;
}

.burger {
    display: none;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.hero {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-img {
    background: url(./assets/images/image-web-3-desktop.jpg);
    max-width: 45.625rem;
    height: 18.75rem;
}

.hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content button {
    align-self: flex-start;
    padding: 0.5rem 2rem;
    background-color: var(--red);
    text-transform: uppercase;
    transition: all 200ms;
}

aside {
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--nv950);
    transition: all 200ms;
}

.aside-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-list li:nth-of-type(1),
.aside-list li:nth-of-type(2) {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--nv600);
}

.aside-list li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    transition: all 200ms;
}

.footer-list li {
    display: flex;
    gap: 1.5rem;
}

.f-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-list img {
    width: 100px;
    height: 129px;
}

/* Menu */

.menu {
    display: none;
    position: absolute;
    right: -350px;
    top: 0;
    background-color: var(--white);
    opacity: 0;
    width: 312px;
    height: 669px;
    padding: 27px 21px;
    z-index: 5;
    transition: all 300ms;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 88px;

    & ul {
        list-style: none;
    }
}

.menu-close {
    width: 30.41px;
    height: 30.41px;
    align-self: end;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-list li:hover {
    color: var(--red);
}

/* Active states */

nav a:hover {
    cursor: pointer;
    color: var(--red);
}

.content button:hover {
    background-color: var(--nv950);
    color: var(--white);
}

.aside-list li h3:hover {
    color: var(--gold);
    cursor: pointer;
}

.footer-list h4:hover {
    cursor: pointer;
    color: var(--red);
}

.burger {
    cursor: pointer;
}

.menu-close {
    cursor: pointer;
}

@media(max-width: 768px) {

    main {
        width: 80%;
        margin-top: 27px;
    }

    nav {
        display: none;
    }

    .burger {
        display: block;
    }

    section {
        grid-template-columns: 1fr;
    }

    .hero {
        grid-column: 1 / -1;

    }

    .hero-img {
        background: url(./assets/images/image-web-3-mobile.jpg);
        max-width: 38rem;
        max-height: 32rem;
    }

    .hero-content {
        grid-template-columns: 1fr;
    }

    .hero-h {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        font-weight: 800;
    }

    .footer-list {
        grid-template-columns: 1fr;

    }

    .footer-list img {
        height: 127px;
    }

    .menu.open {
        display: block;
        transform: translateX(-312px);
        opacity: 1;
        transition: all 300ms ease-in-out;
    }
}

@media(max-width: 500px) {
    .menu.open {
        display: block;
        width: 256px;
        transform: translateX(-312px);
        opacity: 1;
        transition: all 300ms ease-in-out;
    }
}