@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --gy200: rgb(216 216 216);
    --gy300: rgb(197 198 206);
    --nv600: rgb(94 96 122);
    --nv950: rgb(0 0 26);
    --gold: rgb(2333 170 82);
    --red: rgb(241 93 81);
}

.nav-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--nv600);
}

.hero-h {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--nv950);
}

.hero-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--nv600);
}

.hero-btn {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4.38px;
    font-weight: 700;
    color: var(--nv950);
}

.aside-h {
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--gold);

}

.aside-item-h {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--white);
}

.aside-item-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--gy300);
}

.footer-nr {
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--red);
}

.footer-h {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--nv950);
}

.footer-p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--nv600);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

img {
    width: 100%;
}

main {
    max-width: 1112px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.hero {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button {
    align-self: flex-start;
    padding: 0.5rem 2rem;
    background-color: var(--red);
    text-transform: uppercase;
}

aside {

    padding: 2rem 1.5rem;
    background-color: var(--nv950);
}

.aside-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-list li:nth-of-type(1),
.aside-list li:nth-of-type(2) {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--nv600);
}

.aside-list li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.footer-list li {
    display: flex;
    gap: 1.5rem;
}

.f-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-list img {
    width: 100px;
    height: 129px;
}

@media(max-width: 600px) {
    .nav-p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
        font-weight: 800;
    }

    .hero-h {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        font-weight: 800;
    }
}